﻿
label {
    margin-right: 1em;
}
    
.button {
    margin-top: 1em;
    padding: .25em .5em;
    width: auto;
    margin-left: 8em;
}

.listBox {
    width: 425px;
    height: 250px;
    margin-left: 30px;
}

#contactListHeader {
    width: 4em;
    margin-right: 0.2em;
}





